<div style="margin-top: 100px" class="container my-element mb-5">
 <div class="shadow-lg p-3">
  <h2 class="mb-4 ">Drug Upload Form</h2>

  <form [formGroup]="drugForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter drug name" />
      <div *ngIf="drugForm.get('name')?.touched && drugForm.get('name')?.invalid" class="text-danger">
        <small *ngIf="drugForm.get('name')?.hasError('required')">Drug name is required</small>
        <small *ngIf="drugForm.get('name')?.hasError('minlength')">Drug name must be at least 3 characters</small>
      </div>
    </div>
    <div class="form-group">

      <input type="text" class="form-control" id="photo" formControlName="name" placeholder="Enter drug photo address" />
      <div *ngIf="drugForm.get('photo')?.touched && drugForm.get('name')?.invalid" class="text-danger">
        <small *ngIf="drugForm.get('photo')?.hasError('required')">Photo Address is required</small>
        <small *ngIf="drugForm.get('photo')?.hasError('minlength')">Photo Address is required</small>
      </div>
    </div>

    <div class="form-group mt-3">

      <input type="text" class="form-control" id="use" formControlName="use" placeholder="Enter drug use" />
      <div *ngIf="drugForm.get('use')?.touched && drugForm.get('use')?.invalid" class="text-danger">
        <small *ngIf="drugForm.get('use')?.hasError('required')">Drug use is required</small>
      </div>
    </div>

    <div class="form-group mt-3">

      <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter price" />
      <div *ngIf="drugForm.get('price')?.touched && drugForm.get('price')?.invalid" class="text-danger">
        <small *ngIf="drugForm.get('price')?.hasError('required')">Price is required</small>
        <small *ngIf="drugForm.get('price')?.hasError('min')">Price must be a positive number</small>
      </div>
    </div>

    <div class="form-group mt-3">

      <textarea class="form-control" id="info" formControlName="info" placeholder="Enter additional information" rows="4"></textarea>
      <div *ngIf="drugForm.get('info')?.touched && drugForm.get('info')?.invalid" class="text-danger">
        <small *ngIf="drugForm.get('info')?.hasError('required')">Information is required</small>
      </div>
    </div>



    <button type="submit" class="btn btn-primary mt-3" [disabled]="drugForm.invalid">Submit</button>
  </form>
 </div>
</div>
