<div class=" ">
  <div class="shadow-lg" style="height: 280px; margin-top: 0; ">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center  ">
        <h1 class="display-5 text-center   mt-5 mt-md-4" >We Maintain Cleanliness Rules Inside Our Hospital</h1>
      </div>
    </div>


  </div>
</div>

<div class="container col-8 " style="margin-top: -100px">

  <div class="row">
@for (items of moreMenu; track items.name){


    <div class="col-4 col-md-3 mb-4">
      <div class="card shadow-lg">
        <img [src]=items.image class="card-img-top" alt="Image 1">
        <h6 class="text-center">
          {{items.name}}
        </h6>
      </div>
    </div>
}
  </div>

</div>
