
<div class="navbar-dark bg-primary" style="background-image: url(/custome/footer-bg.png);">

  <div class="container" style="padding: 5rem 0;">
    <div class="w-md-65 w-lg-100 d-flex justify-content-center align-items-center">
      <div>
        <h1 class="display-2 text-white" style="margin-top: 5rem; padding: 0">ABOUT US</h1>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="background-color: 	#8B0000">

    <button   type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px">Who we are</button>


    <button   type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px">Mission & Values</button>
    <button type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px" routerLink="/core-aspect">Core Aspect</button>

  </div>


</div>




<div class="mx-auto overflow-hidden " >
  <div class="container">
<div class="row">
  <div class="col-12 col-md-6">
    <img style="height:500px" src="/image/about.png" alt="aboutUs" class="img-fluid img-fill">
  </div>

  <div class="col-12 col-md-6 ">


    <h2 class="headerColor customHeader"><strong>{{AboutHeading}}</strong></h2>
    <p class="lead mb-3">{{tagLineHeading}}</p>

    <div class="row justify-content-center">
      @for(items of HeroAboutUsContent; track items.title1){
        <div class="col-3 d-flex justify-content-center">
          <div class="card logoCard text-center">
            <img  class="logo mb-1" [src]="items.logo" alt="{{items.title1}}">
            <h5 class="headerColor text-center">{{items.title1}}</h5>
            <h6 style="" class="headerSecondaryColor">{{items.title2}}</h6>
          </div>
        </div>
      }
    </div>


    <div class="row">
      <div class="col-4"></div>
    </div>
  </div>

</div>
    <div class="doctors ">


      <div class="row d_flex">

        @for(items of aboutUsContent; track items.title){
          <div class=" col-md-6">
            <div id="ho_efcet" class="reader text_align_center">
              <i><img src="images/doctor1.png" alt="#"></i>
              <h3>{{items.title}}</h3>
              <p>{{items.content}}</p>
              <span><img src="images/do.png" alt="#"></span>
            </div>
          </div>
        }
      </div>

    </div>
  </div>





<div class="about mt-3">

    <div class="row d_flex">
      @for(items of whyChooseUsContent; track items.title){
      <div class="col-md-7">
        <div class="titlepage text_align_left">
          <h2>{{items.title}} </h2>
          <p>{{items.content}}
          </p>

        </div>
      </div>
      <div class="col-md-5">

        <div class="about_img text_align_center">
          <figure><img [src]="items.photo" alt="#"></figure>
        </div>
      </div>
      }
    </div>

</div>





</div>
<div class="cases">

  <div class="row">
    <div class="col-md-12">
      <div class="titlepage text_align_center ">
        <h2>Why we are the best</h2>
      </div>
    </div>
  </div>
  <div class="row d_flex">
    @for ( items of whyWeAreTheBest; track items.title){
      <div class=" col-md-4">
        <div class="latest text_align_center">
          <figure><img src="images/cases1.png" alt="#"></figure>

          <div class="nostrud">
            <h3>{{items.title}}</h3>
            <p>{{items.content}}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<app-call-to-action></app-call-to-action>




