<!-- Blog Card -->
<article class="card shadow h-100">
  <img class="card-img-top" src="../../placeholders/placeholder-lg.svg" alt="Image Description">

  <div class="card-body p-5">
    <div class="bg-light mb-1" style="height: 0.7rem; width:40%"></div>
    <h3 class="h5 font-weight-medium">
      <div class="bg-light mb-1" style="height: 1.2rem; width:100%"></div>
      <div class="bg-light mb-3" style="height: 1.2rem; width:100%"></div>
    </h3>
    <div class="bg-light mb-1" style="height: 0.9rem; width:100%"></div>
    <div class="bg-light mb-1" style="height: 0.9rem; width:100%"></div>
    <div class="bg-light mb-1" style="height: 0.9rem; width:100%"></div>


  </div>

  <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
    <div class="media align-items-center">
      <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
        <div class="d-flex justify-content-end bg-light"  style="height: 0.9rem; width:30%" ></div>

      </div>
    </div>
  </div>
</article>
<!-- End Blog Card -->
