

<div class="card shadow-lg border-0">
  <img [src]="newsArticle().imageUrl" class="card-img-top blogImg" alt="Card image 1">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/news-details', newsArticle().id]" class="no-underline">{{newsArticle().title }}</a>
    </h5>
    <p class="card-text">{{newsArticle().description |truncateText:120 }}</p>
    <a class="btn btn-primary no-cursor">{{newsArticle().date }}</a>
  </div>
</div>




<!-- Blog Card -->
     <!--   <article class="card shadow h-100">
          <img class="card-img-top" [src]="newsArticle().imageUrl" alt="Image Description">
          <div class="card-body ">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2"
               href="#">{{ newsArticle().category }}</a>
            <h3 class="h5 font-weight-medium">
              <a [routerLink]="['/news-details', newsArticle().id]">{{newsArticle().title }}</a>
            </h3>
            <p>{{newsArticle().description |truncateText:120 }}</p></div>


        </article>

-->

