
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" [src]="newsArticle().imageUrl" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2"
               href="#">{{ newsArticle().category }}</a>
            <h3 class="h5 font-weight-medium">
              <a [routerLink]="['/news-details', newsArticle().id]">{{newsArticle().title }}</a>
            </h3>
            <p>{{newsArticle().description |truncateText:120 }}</p></div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
               {{newsArticle().date}}
              </div>
            </div>
          </div>
        </article>



