<div class="col-md-12 px-4 py-5" style="margin-top: 90px">

  <div class="row">
    <div *ngFor="let card of contactDetails; let i = index" class="mb-3 col-md-3">
      <div [ngClass]="{'card': true, 'green-card': isGreenCard(i)}">
        <div class="card-body">
          <h2 class="card-title">{{ card.title }}</h2>
          <div *ngIf="Array.isArray(card.content)">
            <!-- If content is an array (e.g., phone numbers, emails, schedule) -->
            <div *ngFor="let item of card.content">
              <p><strong>{{ item.label }}:</strong> {{ item.value }}</p>
            </div>
          </div>
          <div *ngIf="!Array.isArray(card.content)">
            <!-- If content is a single string (e.g., address) -->
            <p>{{ card.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_left">
            <h2>Contact Us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <form id="request" class="main_form">
            <div class="row">
              <div class="col-md-12 ">
                <input class="contactus" placeholder="Full Name" type="type" name=" Name">
              </div>
              <div class="col-md-12">
                <input class="contactus" placeholder="Phone" type="type" name="Phone Number">
              </div>
              <div class="col-md-12">
                <input class="contactus" placeholder="Email" type="type" name="Email">
              </div>
              <div class="col-md-12">
                <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
              </div>
              <div class="col-md-12">
                <button class="send_btn">Send Now</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-7">
          <div class="map-responsive" >
            <img src="kunya.png" class="img-fluid rounded-3" alt="googleImage" style="height: 500px;width: 100%; object-fit: cover">  </div>
        </div>
      </div>
    </div>
  </div>


</div>


