

<div class="container">
  <div class="d-flex justify-content-center align-items-center">
  <h1 class="text-center w-50">We Are Always Ready to Help You & Your Family</h1>
  </div>
</div>





<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center w-50">We Maintain Cleanliness Rules Inside Our Hospital</h1>
  </div>
</div>


<!--

<div class="container">
  <h1><span style="color: red;">G</span>oogle</h1>

  <div class="row">

    <div class="col-12 col-md-8 mb-3">

      <input class="p-2 w-100" style="border-radius: 1.2rem;" type="text" >


    </div>
    <div class="col-4">
      <button class="btn btn-primary">Search</button>
      <button class="btn btn-danger">EXIT</button>


    </div>
  </div>



  <div class="row">



    <div class="col-md-4 shadow-lg border-0">
      <div class="card " style=" padding: 0; border: none;">
        <div class=" ">
          <h1 class="p-2">Drive</h1>
          <img style="border-radius: 0; height: 15rem;"  src="/image/img_2.png">

        </div>

        <div class="card-body">
        </div>

      </div>


    </div>
    <div class="col-md-3 shadow-lg">
      <div class="card " style=" padding: 0; border: none;">
        <div class=" ">
          <h1 class="p-2">Drive</h1>
          <img style="border-radius: 0; height: 15rem; width:100%"  src="/image/img_2.png">

        </div>

        <div class="card-body">
        </div>

      </div>


    </div>
    <div class="col-md-4 shadow-lg">
      <div class="card " style=" padding: 0; border: none;">
        <div class=" ">
          <h1 class="p-2">Drive</h1>
          <img style="border-radius: 0; height: 15rem;"  src="/image/img_2.png">

        </div>

        <div class="card-body">
        </div>

      </div>


    </div>


  </div>


</div>

-->
