<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-md-8">
      <app-hospital-tag></app-hospital-tag>
    </div>
    <div class="col-md-4">
      <!-- Search Box with Combo Box -->
      <div class="input-group">
        <!-- Combo Box to select the search criterion -->
        <select class="form-control" [(ngModel)]="searchBy" aria-label="Search Criteria">
          <option value="service">Category</option>
          <option value="description">Search by Description</option>
          <option value="priceRange">Search by Price Range</option>
        </select>

        <!-- Search Input -->
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          [(ngModel)]="searchTerm"
          (input)="filterServices()"
        >

        </div>
    </div>
  </div>

  <!-- Service Cards -->
  <div class="row mt-4">
    <div *ngFor="let items of filteredServices; trackBy: trackByService" class="col-md-4 mb-5">
      <div class="card shadow-lg" style="height:200px;">
        <div class="card-head bg-primary text-white">
          <h3 class="text-center">{{items.service}}</h3>
        </div>
        <div class="card-body">
          <p>{{items.description}}</p>
          <h2 class="text-center">{{items.priceRange}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
