.custom-underline {
  display: inline-block;
  border-bottom: 3px solid #007bff;  /* Change color and thickness here */
  padding-bottom: 2px;  /* Adjust spacing if needed */
}
.heroHeader{
  width: 50%;
}



.heroIMG{
  width: 900px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}


.docIMG {
  height: 400px;
  object-fit: cover;
  width: 100%;
}
