/* Ensure the body takes full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFEFF;  /* Example background color */
  color: #1d2a4d;            /* Example text color */
  text-align: center;
  padding: 20px 0;
  z-index: 1000;           /* Makes sure the header is above other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow below the header */
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-links a {
  color:#1d2a4d;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}
