<div class="mt-5  container-fluid  d-flex justify-content-center align-items-center"
     style="background-color: rgb(19 197 221)">
  <div class="text-center callBody" >

    <h3 class="mt-5 text-white custom-underline"><strong>Find a doctor</strong></h3>

    <h1 class="display-4"><strong>Do you need Emergency Medical</strong></h1>
    <p class="lead text-white"><strong>Discover trusted healthcare professionals near you, offering personalized care
      for your well-being and peace of mind.</strong></p>
    <div class="mb-5">
      <button class="btn btn-light mt-3 buttonC">Contact Now</button>
      <button class="btn btn-outline-light mt-3 buttonC">Learn More</button>
    </div>


  </div>
</div>
