.customeButton{
  padding: 20px;
  font-size: 22px;
  border-radius: 35px;
  width: 30%;

  margin:10px;
}
.findDoctor{
  background-color: #1d2a4d;
  border: 1px solid #1d2a4d;
}
.readMore{
  background-color: white;
  border: 1px solid #1d2a4d;
  color:  #1d2a4d;
}
