
<div class="container col-12 py-1">

  <app-hospital-tag></app-hospital-tag>
  <div class="row align-items-center g-lg-1 py-1">
    <div class="col-md-6 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Make An Appointment</h1>
      <p class="col-lg-10 " style="text-align: justify">Your health and well-being are our top priorities. Schedule an appointment today to receive personalized care from our experienced medical professionals. Whether you need a routine check-up or specialized treatment, we are here to help you every step of the way. Choose a convenient time and get the care you deserve.</p>
   <button class="btn btn-primary customeButton findDoctor" routerLink="/doctors" >Find Doctor</button>
   <button class="btn btn-primary customeButton readMore" routerLink="/aboutUs" >Read more</button>
    </div>





    <div class="col-md-6 mx-auto">
      <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="p-4 p-md-5 border rounded-3 shadow-lg">
        <!-- Name field -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Full Name"
            formControlName="name"
          />
          <label for="name">Full Name</label>
          <div *ngIf="appointmentForm.controls['name'].invalid && appointmentForm.controls['name'].touched" class="text-danger">
            Name is required.
          </div>
        </div>

        <!-- Date of Appointment field -->
        <div class="form-floating mb-3" style="">
          <input
            type="date"
            class="form-control"
            id="appointmentDate"
            formControlName="appointmentDate"
          />
          <label class="mb-2" for="appointmentDate">Date of Appointment</label>
          <div *ngIf="appointmentForm.controls['appointmentDate'].invalid && appointmentForm.controls['appointmentDate'].touched" class="text-danger">
            Appointment Date is required.
          </div>
        </div>

        <!-- Message field -->
        <div class="form-floating mb-3">
    <textarea
      class="form-control"
      id="message"
      placeholder="Your message"
      formControlName="message"
    ></textarea>
          <label for="message">Message</label>
          <div *ngIf="appointmentForm.controls['message'].invalid && appointmentForm.controls['message'].touched" class="text-danger">
            Message is required.
          </div>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary" [disabled]="appointmentForm.invalid">
          Submit Appointment
        </button>

        <hr class="my-4">
        <small class="text-muted">
          By clicking Submit, you agree to our terms and conditions.
        </small>
      </form>

    </div>
  </div>
</div>
